body{
    background-image: url("../media/Fondo-2-AcercaDe.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  